.container{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.item{
    flex: 1;
}

.title{
    font-size: 50px;
    font-weight: 600;
}

.text{
    font-size: 30px;
    color: #797979;
    font-weight: 400;
}

.img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.img_2{
    width: 450px;
}

.img_3{
    width: 350px;
    padding-top: 70px;
}

.img_4{
    padding-left: 300px;
}

.img_5{
    width: 450px;
    height: 350px;
}

.img_6{
    width: 350px;
}

.img_7{
    width: 650px;
    height: 400px;
}

.img_8{
    width: 1300px;
}